.page {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  width: 100%;
  height: min-content;
  position: relative;
  overflow: clip;
  background-color: var(--base);
}
